In [3]:
#count no.of digits in the given string
#input"python123is45good789"
#output:9
s=input()
i=0
count=0
while i<len(s):
    if s[i].isdigit():
        count +=1
    i +=1
print(count)

python123is456good789
9

In [11]:
#count no.of digits in the given string
#input"python123is456good789"
#output:9
s=input()
i=0
count=0
sum =0
while i<len(s):
    if s[i].isdigit():
        count += 1
        sum += int(s[i])
    i += 1
print("count is:",count,"sum of digits is:",sum)

python123is45good789
count is: 8 sum of digits is: 39

In [1]:
#for loop
#1.using range()
#2.using Iterable object
n=int(input("enter a number"))
for i in range(1,n+1):
    print(i,end=" ")

enter a number5
1 2 3 4 5

In [4]:
#input:python
#output:p y t h o n
s=input()
i=0
while i<len(s):
    print(s[i],end=" ")
    i+=1
print()    
for i in range(0,len(s)):
    print(s[i],end=" ")

python
p y t h o n
p y t h o n

## collection type data types
list:
1.for creating a list use
2.list are mutable
3.list are involved
4.list are ordered
5.list allows duplicate values
6.it stores heterogeneous values

In [14]:
list1=[23,24,456,56,67,"string",True,[1,2,3]]
print(list1[-1])
print(list1[2:4])
print(list1[-3][::-1])
print(list1[-1][-1])

[1, 2, 3]
[456, 56]
gnirts
3

In [15]:
#manipulating a list
#1.adding elements
list1=[34,45,56,67]
print("before adding elements:",list1)
list1.append(100)
list1.append(200)
list1.append(300)
print("after adding elements:",list1)

before adding elements: [34, 45, 56, 67]
after adding elements: [34, 45, 56, 67, 100, 200, 300]

In [23]:
list1.insert(1,400)
list1

[34, 400, 56, 100, 200]

In [24]:
#removing elements from the list-->pop(),remove(),clear()
#list1.pop(5)
list1.remove(56)
print(list1)

[34, 400, 100, 200]

In [25]:
#replace an element
list1[1]=1000
list1

[34, 1000, 100, 200]

In [28]:
#sorting a list
list1=[34,56,7,68,79,2,45,67]
list1.sort()
list1

[2, 7, 34, 45, 56, 67, 68, 79]

In [4]:
#reversing a list
list1=[34,56,7,68,79,2,45,67]
list1.reverse()
list1

[67, 45, 2, 79, 68, 7, 56, 34]

In [5]:
list1.count(45)

1

In [6]:
list1.append("python")
list2=list1
print(list1," ",list2)

[67, 45, 2, 79, 68, 7, 56, 34, 'python']   [67, 45, 2, 79, 68, 7, 56, 34, 'python']

In [10]:
l1 = [1,2,3]
l2 = l1
print(l2)

[1, 2, 3]

In [12]:
l1 = [1,2,3]
l3 = l1
print(l3)

[1, 2, 3]

In [28]:
print(l1,l2,l3)
l1.append(100)
print(l1,l2,l3)

[2, 4, 5, 7, 8] [4, 16, 25, 49, 64] [4, 16, 25, 49, 64]
[2, 4, 5, 7, 8, 100] [4, 16, 25, 49, 64] [4, 16, 25, 49, 64]

In [27]:
#input:[2,4,5,7,8]
#output:[4,16,25,49,64]
l1=[2,4,5,7,8]
l2=[]
l3=[]
for i in range(0,len(l1)):
    l2.append(l1[i]**2)
print(l2)    
for i in l1:
    l3.append(i**2)
print(l3)

[4, 16, 25, 49, 64]
[4, 16, 25, 49, 64]

In [26]:
l4=[]
for i in l1:
    if i%2==0:
        l4.append(1)
print(l4)

[1, 1, 1, 1]

In [33]:
#create a list and accept values of the list at runtime
#and print sum of all the elements of the list
l1=[]
n=int(input())
for i in range(n):
    l1.append(int(input()))
print(l1)

1
2
[2]

In [34]:
#create a list and accept values of the list at runtime
#and print sum of all the elements of the list
list1=[]
n=int(input())
for i in range(n):
    list1.append(int(input()))
a=sum(list1)
print(a)

2
3
4
7

In [36]:
l4=[]
for i in l1:
    if i%2==0:
        l4.append(i)
print(l4)

[2]

In [37]:
x=23,34,45,56,67
print(x)
print(type(x))

(23, 34, 45, 56, 67)
<class 'tuple'>

In [38]:
tup1=(23,34,5)
x,y,z=tup1
print(x,y,z)

23 34 5

### Dictionary
### syntax:(key1:value1,key2:value2......) 
### key
1. key should for unique
2. key should be imutable-->int,float,string,tuple

In [39]:
dict1={"name":"sandy","course":"python","address":"hyd"}
dict1["course"]

'python'

In [40]:
#replace values
dict1["course"]="c programming"
print(dict1)

{'name': 'sandy', 'course': 'c programming', 'address': 'hyd'}

In [41]:
#adding entry
dict1["college"]="GITAM"
print(dict1)

{'name': 'sandy', 'course': 'c programming', 'address': 'hyd', 'college': 'GITAM'}

In [42]:
#removing entry
del dict1["address"]
print(dict1)

{'name': 'sandy', 'course': 'c programming', 'college': 'GITAM'}

In [43]:
pwd

'C:\\Users\\Sandeep Kandur'